@{
  Layout = "_Layout";
}

@model SweetTreats.Models.Flavors

<h2>Item Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorsDescription): @Html.DisplayFor(model => model.FlavorsDescription)</h3>

@if(@Model.Treats.Count == 0)
{
  <p>This flavor does not belong to any treats</p>
}
else
{
  <h4>Categories the flavor belongs to:</h4>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>@join.Flavors.FlavorsDescription</li>
    @using (Html.BeginForm("DeleteFlavor", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatsFlavorsId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorsId })</p>
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorsId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorsId })</p>