@{
  Layout = "_Layout";
}

<div class="container">
  <ul>
<li>@Html.ActionLink("Home", "Index", "Home" )</li>
<li>@Html.ActionLink("Treats", "Index", "Treats")</li>
<li>@Html.ActionLink("Flavors", "Index", "Flavors")</li>
<li>@Html.ActionLink("Register", "Register", "Account")</li>
<li>@Html.ActionLink("Log in", "Login", "Account")</li>
  </ul>

<h1>Welcome to the Sweet Treats Street!</h1>

@if (User.Identity.IsAuthenticated)
{
  <p>You are now logged in as: @User.Identity.Name!</p>

      @using (Html.BeginForm("LogOff", "Account"))
  {
      <input type="submit" class="btn btn-danger" value="Log out" />
  }
}

@if (!User.Identity.IsAuthenticated)
{
  <p>You are not logged in.</p>
  <p>You may browse, but you must be registered and logged in to modify items on this website.</p>
}



</div>