@{
  Layout = "_Layout";
}

@model SweetTreats.Models.Treats

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.TreatsName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatsId)

    @Html.LabelFor(model => model.TreatsName)
    @Html.EditorFor(model => model.TreatsName)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to treats", "Index")</p>